*{
    margin: 0;
    padding: 0;
}

:root{
--color1: #011311  ;
--color2: #00272d ;
--color3: #0a3636  ;
--color4: #0c7e7e ;
--color5: #bfac8b ;
--color6: #e42355;
--color7: #49fecf;
}

body{

    /* height: 560px;
    border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#campo {
    margin-top: auto;
    display: flex;
    flex-direction: column; 
    border: 5px solid black;
    width: 90vw;
    height: 600px;
    background: linear-gradient(180deg, var(--color1), var(--color4));
} 

.game-board{
    margin-top: 100px;
    background: transparent; 
    width: 100%;
    height: 500px;
    border-top: 2px solid var(--color1);
    position: relative;
    overflow: hidden;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    
}
 
#moon {
    position: absolute;
    align-self: center;
    width: 80px;
    top: 39px;
    border-radius: 110%;   
    z-index: 1;
}

.shadow-moon {
    top: 48px;
    border-radius: 100%;
    align-self: center;
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px solid gold;
    box-shadow: 0px 0px 60px var(--color5);
    
}

.cloud {
    position: absolute;
    width: 130px;
    right: 100px;
    top: 100px;
}

.cloud2{
    position: absolute;
    width: 80px;
    right: 10px;
    top: 100px;
}

.star {
    position: absolute;
    background-color: aliceblue;
    width: 2px;
    height: 2px;
    border: 2px solid white;
    box-shadow: 0px 0px 5px aliceblue;
}

.boneco{
    border: 2px solid white; 
    background-color: transparent;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    bottom: 0;
    border-radius: 8px;
    box-shadow:0px 0px 10px var(--color7), 0px 0px 25px var(--color7) inset;
}

.obstaculo{
    border: 2px solid white;
    background-color: var(--color1); 
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    box-shadow:0px 0px 10px var(--color1), 0px 0px 25px var(--color1) inset;
    
    
}

.buttons{
    margin-top: 2px;
    position: initial;
    border: 2px solid black;
    width: 30%;
    height: 60px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: fixed;
    align-items: center;
    right: 35%;
    align-self: center;
    border-radius: 5px;
    background: linear-gradient(90deg, var(--color1), var(--color2), var(--color1));
}

.start{
    width: 70px;
    height: 50%;
    border: 2px solid var(--color4);
    background: linear-gradient(90deg, var(--color1), var(--color4));
    color: var(--color5);
    border-radius: 10px;
    transition: 0.3s linear;
}

.start:hover{
 box-shadow: 0px 0px 15px var(--color4);
 transform: scale(1.2) ;
}

.reset{
    width: 70px;
    height: 50%;
    border: 2px solid var(--color4);
    background: linear-gradient(240deg, var(--color1), var(--color4));
    color: var(--color5);
    border-radius: 10px;
    transition: 0.3s linear;
}

.reset:hover{
    box-shadow: 0px 0px 15px var(--color4);
    transform: scale(1.2) ;
   }

.jump{
    animation: boneco-jump 600ms   ease-in-out;
}

.começar{
    animation: obstaculo-animation 2s linear infinite ; 
}

.clouds{
    animation: clouds-move 15s linear infinite;
}

.clouds2 {
    animation: clouds2-move 25s linear infinite;
}



@keyframes obstaculo-animation {
    from {
        right: -50px;
    }
    to {
        right: 100%;
    }
}

@keyframes boneco-jump {
    0% {
        bottom: 0;
         transform: rotate(0);
    }
    40%{
        bottom: 100px;
    }
    50% {
        bottom: 100px;
    }
    60%{
        bottom: 100px;
    }
    100% {
        bottom: 0;
        transform: rotate(90deg);
    }
}

@keyframes clouds-move {
    from {
        right: -130px;
    }
    to {
        right: 100%;
    }
}

@keyframes clouds2-move {
    from {
        right: -90px;
    }
    to {
        right: 100%;
    }
}